.login-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-container a{
  text-decoration: none;
}

.login-wrapper{
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  width: 378px;
  box-shadow: 5px 5px 16px -2px rgb(175, 175, 175);
  text-align: center;
  position: relative;
}

.login-forgot {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.login-forgot a{
  color:#aaaaaa;
  text-decoration: none;
  font-size: 12px;
}

.input-container {
  position: relative;
}

.login-wrapper
input[type='text'],
input[type='email'],
input[type='password'] {
  width:313px;
  background-image:linear-gradient(to bottom, #EEEEEE,#EFEFEF);
  border-radius: 9px;
  height:38px;
  border:none;
  padding: .8em .9em;
}

.login-wrapper
input[type='submit']{
  background-color: #1033e3;
  display:block;
  box-shadow: 5px 5px 16px -2px rgb(175, 175, 175);
  width:313px;
  height:38px;
  font-size: 15px;
  border-radius: 9px;
  font-family: 'Roboto', sans-serif;
  border: none;
  color:white;
  margin: 1.7rem auto;
}

.login-wrapper
input[type='submit']:hover{
  background: linear-gradient(70deg,#1033e3, #f74bf7);
}

.btn-reset,
.btn-remove {
  border-radius: 50%;
  color: black;
  font-weight: bold;
  border: none;
  padding: 2px 5px;
}

.btn-reset {
  position: absolute;
  top:10px;
  right: 24px;
}

.btn-reset::before,
.btn-remove::before {
  content: 'X'
}

.invalid-text{
  color:red;
  margin-left: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: left;
}