.gameinfo{
  height: 12px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3px;
}

.gameinfo div{
  min-width: 45px;
  float: right;
  font-weight: bold;
  color:white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.gameinfo .heart{
  font-size: 18px;
  width:20px;
  text-align: center;
}