.gameinfo{
  height: 26px;
  margin-bottom: 9px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-width: 45px;
}

.gameinfo span{
  width: 3.5rem;
}


.gameinfo label{
  color:white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}


.gameinfo .heart{
  font-size: 18px;
  color:rgb(202, 15, 46);
  text-align: center;
}