header{
  width: 100%;
  min-width: 680px;
  font-family: 'Roboto', sans-serif;
}

header a{
  text-decoration: none;
}

header .title-container{
  background-color: white;
  height:78px;
  position: relative;
}

header .title-container a{
  color: var(--main-theme-color);
  position: absolute;
  font-weight: bold;
  font-size: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .menu-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:41px;
  text-align: center;
  background-color: var(--main-theme-color);;
  font-size: 13px;
}

header .menu-container a{
  color: #d0d0d0;
  display: inline-block;  
  margin: 10px;
}

header .menu-left{
  width: 16%;
}

header .menu-right{
  width: 16%;
  display: flex;
}

header .menu-right .sign-button{
  background-color: var(--main-theme-color);;
  border: 1px solid white;
  color:white;
  border-radius: 8px;
  min-width: 90px;
  height:30px;
  position: relative;
}

header .menu-right .sign-button div{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 11.5px;
  transform: translate(-50%, -50%);  
}

header .menu-right .sign-button:hover{
  background-color: turquoise;
}
