.modal{
  position: fixed;
  display: flex;
  top:0; left:0;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border:2px solid sandybrown;
}


.modal-overlay{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}


.modal-content{
  position: relative;
  width:350px;
  padding: 25px 50px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}


.closemodal{
  position: relative;
  margin-top:20px;
  background-color: turquoise;
  font-weight: bold;
  color:white;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width:70px;
  height: 25px;
  padding: 0;
  border: none;
}


.closemodal:hover {
  position: relative;
  margin-top:20px;
  background: linear-gradient(70deg,#1033e3, #f74bf7);
  font-weight: bold;
  color:white;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  width:70px;
  height: 25px;
  padding: 0;
  border: none;
}


.hidden{
  display: none;
}
