.option-container{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border-radius: 5px;
  padding:20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 394px;
}

.option-container h3{
  color:var(--main-theme-color);
}

.option-container label{
  font-family: 'Tajawal', sans-serif;
  color:var(--main-font-color);
  font-size: 14px;
}

.option-container .option-row-container{
  display: flex;
  position: relative;
  align-items: center;
  border: 2px solid #b1b1b1;
  margin: 8px 0px;
  height: 52px;
}

.option-container .option-row-container input[type='radio'] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0.9rem;
  left : 0.9rem;
  width: 1.0rem;
  height: 1.0rem;
}

.option-container .option-row-container input[type='radio'] + ::before{
  position: absolute;
  content: "";
  top: 0.9rem;
  left : 0.9rem;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  border: 3px solid #b1b1b1;
}

.option-container .option-row-container label{
  margin-left: 50px;
}

.option-container .option-row-container input[type='radio']:checked + ::before {
  background: radial-gradient(var(--main-theme-color) 1px, white, var(--main-theme-color) 99%);
  border: 3px solid var(--main-theme-color);
}